<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include partials/header.ejs %>
      <a href="/articles/<%= article.id %>/edit">Edit Article</a>
      <a href="/articles/<%= article.id %>/delete">Delete Article</a>
    </header>
    <article>
      <h2><%= article.title %></h2>
      <h3><%= formatDistanceToNow(article.date, {addSuffix: true}) %></h3>
      <p>
        <%= article.content %>
      </p>
    </article>
  </body>
</html>
